Trabalho/XSD/ReceiptInfo.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://www.BikeOnTrack.pt/ReceiptInfo"
	targetNamespace="http://www.BikeOnTrack.pt/ReceiptInfo"
	elementFormDefault="qualified">


	<xs:element name="info">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dataInicio" type="xs:dateTime"/>
				<xs:element name="dataFim" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>