Trabalho/Ricardo/linhaXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.Formas.pt/linha"
	targetNamespace="http://www.Formas.pt/linha"
	xmlns:c="http://www.Formas.pt/CommonTypes"
	elementFormDefault="qualified">
	
	<xs:import schemaLocation="CommonTypes.xsd" namespace="http://www.Formas.pt/CommonTypes"/>

	
	<xs:complexType name="linha" mixed="true">
		<xs:sequence>
			<xs:element name="x1" type="c:x1_inicio"/>
			<xs:element name="y1" type="c:y1_inicio"/>
			<xs:element name="x2" type="c:x2_fim"/>
			<xs:element name="y2" type="c:y2_fim"/>
		</xs:sequence>
	</xs:complexType>	
</xs:schema>

